.input[data-rixel="input"] {
  width: 300px;
  height: 46px;
  position: relative;

  .item {
    background: #fff;
    color: rgba(57, 62, 70, 0.6);
    display: block;
    font: lighter 24px 'Roboto';
    padding-left: 6px;
    position: relative;
    z-index: 1;
    transition: .4s;
    @include border-radius-3;
    @include full-sizes;

    &:hover {
      color: $dark-gray;
      font-weight: normal;
      @include active-box-shadow;
    }
  }
  .icon {
    color: $blue;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 5px;
    width: 32px;
    height: 32px;
    transition: .4s;
    transform: translateY(-50%);
    @include flex-center;
  }

  &.is-active {
    .icon {
      left: -38px;
    }
    .item {
      color: $dark-gray;
      font-weight: normal;
      @include active-box-shadow;
    }
  }
}