.login[data-rixel="login"] {
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 420px;
  padding: 50px 0;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 150px;
  transition: .4s;
  z-index: 1;
  transform: translateY(-50%);
  @include border-radius-3;

  .input {
    margin-bottom: 20px;
  }

  &:hover {
    @include active-box-shadow;
  }
}