#svg {
  position: relative;
  transition: .4s;
  @include full-sizes;
}
#svg[data-id="fullname"] {
  background-image: url('fullname.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
#svg[data-id="username"] {
  background-image: url('username.svg');
}
#svg[data-id="mail"] {
  background-image: url('mail.svg');
}
#svg[data-id="password"] {
  background-image: url('password.svg');
}