@font-face {
  font-family: 'Roboto';
  src: url("fRobotoRegular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-bold';
  src: url("fRobotoBold.ttf");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

html {
  font-size: 16px; }

body {
  font-family: 'Roboto';
  width: 100vw;
  height: 100vh;
  position: relative; }

#loading {
  flex-direction: column;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  #loading .logo {
    animation: logo-start .7s .6s forwards;
    overflow: hidden;
    width: 64px;
    height: 64px;
    margin-bottom: 50px;
    position: relative; }
    #loading .logo .icon {
      animation: show-logo-icon .6s .2s forwards;
      border-radius: 20px 0 20px 0;
      background: #5BB7D4;
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      box-shadow: 0 2px 4px rgba(57, 62, 70, 0.2); }
    #loading .logo .name {
      animation: show-logo-name .7s .6s forwards;
      color: #fff;
      font: 3rem 'Roboto-bold';
      text-align: center;
      width: 136px;
      height: 64px;
      position: absolute;
      top: 0;
      left: -140px;
      text-shadow: 0 2px 4px rgba(57, 62, 70, 0.2); }
  #loading .quote {
    color: #393E46;
    font-size: 1.5rem;
    text-align: center;
    width: 420px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    #loading .quote::after, #loading .quote::before {
      background: #393E46;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      box-shadow: 0 2px 4px rgba(57, 62, 70, 0.2); }
    #loading .quote::before {
      top: 0; }
    #loading .quote::after {
      bottom: 0; }

@keyframes logo-start {
  to {
    width: 200px; } }

@keyframes show-logo-icon {
  to {
    width: 64px;
    height: 64px;
    left: 0;
    top: 0; } }

@keyframes show-logo-name {
  to {
    left: 64px;
    color: #004466; } }

#app {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%; }
