@import '../src.scss';

.full {
  @include full-sizes;
}
.w100 {
  width: 100%;
}
.bs {
  box-sizing: border-box;
}

// background
.bg-fff {
  background: #fff;
}

// border-radius => br
@import './border-radius-classes.scss';

// cursor => c
.cp {
  cursor: pointer;
}

// hover styles => hov
.hover_hov-sh {
  &:hover {
    @include hover-shadow;
  }
}
.hover_st-sh {
  &:hover {
    @include static-shadow;
  }
}

// flex
@import './flex-classes.scss';

// position
@import './position-classes.scss';

// pseudo
.bfr-click {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @include full-sizes;
  }
}