
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-inline {
  display: inline-flex;
}
.fc {
  @include flex-center;
}
.fcc {
  @include flex-center-column;
}
.faic {
  @include flex-align-items-center;
}