@font-face {
  font-family: 'Roboto';
  src: url("fRobotoRegular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-bold';
  src: url("fRobotoBold.ttf");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

body {
  font-family: 'Roboto';
  width: 100vw;
  height: 100vh; }

#app {
  position: relative;
  width: 100%;
  height: 100%; }

.login[data-rixel="login"] {
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 420px;
  padding: 50px 0;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 150px;
  transition: .4s;
  z-index: 1;
  transform: translateY(-50%);
  border-radius: 3px; }
  .login[data-rixel="login"] .input {
    margin-bottom: 20px; }
  .login[data-rixel="login"]:hover {
    box-shadow: 0 2px 6px rgba(57, 62, 70, 0.4); }

.input[data-rixel="input"] {
  width: 300px;
  height: 46px;
  position: relative; }
  .input[data-rixel="input"] .item {
    background: #fff;
    color: rgba(57, 62, 70, 0.6);
    display: block;
    font: lighter 24px 'Roboto';
    padding-left: 6px;
    position: relative;
    z-index: 1;
    transition: .4s;
    border-radius: 3px;
    width: 100%;
    height: 100%; }
    .input[data-rixel="input"] .item:hover {
      color: #393E46;
      font-weight: normal;
      box-shadow: 0 2px 6px rgba(57, 62, 70, 0.4); }
  .input[data-rixel="input"] .icon {
    color: #016699;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 5px;
    width: 32px;
    height: 32px;
    transition: .4s;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center; }
  .input[data-rixel="input"].is-active .icon {
    left: -38px; }
  .input[data-rixel="input"].is-active .item {
    color: #393E46;
    font-weight: normal;
    box-shadow: 0 2px 6px rgba(57, 62, 70, 0.4); }

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%; }
