@import 'src.scss';
@import 'assets/icons.scss';
@import 'assets/fonts.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html {
  font-size: 16px;
}
body {
  font-family: 'roboto-reqular', sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* common styles */

.full {
  @include full-sizes;
}
.bs {
  box-sizing: border-box;
}

// border-radius => br
.br50 {
  border-radius: 50%;
}
.br3px {
  @include border-radius-3;
}
.br6px {
  @include border-radius-6;
}

// cursor => c
.cp {
  cursor: pointer;
}

// hover styles => hov
.hover_hov-sh {
  &:hover {
    @include hover-shadow;
  }
}
.hover_st-sh {
  &:hover {
    @include static-shadow;
  }
}

// flex
.fc {
  @include flex-center;
}
.fcc {
  @include flex-center-column;
}

// position
.pa {
  position: absolute;
}
.pr {
  position: relative;
}

// pseudo
.bfr-click {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    @include full-sizes;
  }
}