@import 'src/fonts';
@import 'src/vars';
@import 'src/mixin';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  font-family: 'Roboto';
  width: 100vw;
  height: 100vh;
}

//@import 'modules/loading';

#app {
  position: relative;
  @include full-sizes;
}

@import "components/login";
@import "components/input";

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
}