@font-face {
  font-family: 'Roboto';
  src: url('fRobotoRegular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-bold';
  src: url('fRobotoBold.ttf');
  font-weight: normal;
  font-style: normal;
}