@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-center-column {
  align-items: center;
  @include flex-column;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-align-items-center {
  display: flex;
  align-items: center;
}
@mixin flex-center-column-to-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
@mixin flex-center-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}